$breakpoint-mobile: 768px;

@media only screen and (min-width: $breakpoint-mobile) {
  .header {
    flex-direction: row;
    justify-content: flex-end;

    div {
      padding-left: 15px;
    }
  }

  .custom-select {
    display: inline-block;
    margin-left: 10px;
  }

  .box {
    flex-direction: row;

    .image {
      width: 200px;
      height: 200px;

      .heart {
        padding: 5px;
      }

      img {
        height: 200px;
        width: 200px;
        max-height: initial;
        max-width: initial;
      }
    }

    .info,
    .details {
      padding: 5px 25px;
    }

    .details {
      flex: 0 0 200px;

      .triangle-topright {
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 45px 45px 0;
        border-color: transparent #e74c3c transparent transparent;
        position: absolute;
        right: 0px;
        top: 0px;
        padding-top: 0;

        div {
          display: block;
          text-align: center;
          top: 7px;
          left: 8px;
          position: relative;
          width: 45px;
          color: #fff;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          font-size: 12px;
        }
      }

      .price {
        flex-direction: column-reverse;

        > div {
          padding: 5px 0;
          border-bottom: 1px solid #8d8e91;

          &:first-child {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            text-transform: lowercase;

            div {
              padding: 0 2px;
            }
          }

          &:last-child {
            margin-left: initial;
            padding-right: 10px;
            text-align: right;
          }
        }
      }

      .dates {
        font-size: 12px;
      }

      .action {
        text-align: center;

        button {
          width: 100%;
        }
      }
    }

    .info {
      .triangle-topright {
        display: none;

        div {
          display: none;
        }
      }
    }
  }
}
